html{
  text-align: center;
}

body{
  background-color: #193549;
  color: whitesmoke;
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 600;
  font-size: 35px;
}
.js-span{
  color: var(--base-color);
}

.controls{
  margin-bottom: 15px;
}

img{
  background: var(--base-color);
  padding: var(--spacing);
  filter: blur(var(--blur));
}